RewriteEngine On
RewriteRule ^([A-Za-z0-9_-]+)\/?$ $1.php [NC]
Options All -Indexes
#RewriteRule ^([^/]*)\.html$ /arts/profile.php?ref=$1 [L]
ErrorDocument 401 http://www.kunsana.com/error?t=401
ErrorDocument 403 http://www.kunsana.com/error?t=403
ErrorDocument 400 http://www.kunsana.com/error?t=400
#ErrorDocument 404 http://www.kunsana.com/error?t=404
#RewriteRule ^u/([a-zA-Z0-9_-\s\.]+)$ u.php?a=$1
#RewriteRule ^u/([a-zA-Z0-9_-]+)/$ u.php?a=$1
RewriteRule ^view/([0-9]+)/([a-zA-Z0-9_-]+)$ view.php?id=$1&topic=$2
RewriteRule ^blog/([a-zA-Z0-9_-]+)$ blog.php?id=$1
RewriteRule ^view/([0-9]+)/([a-zA-Z0-9_-]+)/$ view.php?id=$1&topic=$2
RewriteRule ^big/([0-9]+)/([a-zA-Z0-9_-]+)$ big.php?id=$1&p_id=$2
RewriteRule ^showroom/([a-zA-Z0-9_-]+)$ showroom.php?cat=$1
RewriteRule ^interviews/([0-9]+)/([a-zA-Z0-9_-]+)$ interviews.php?id=$1&p_id=$2
RewriteRule ^big/([0-9]+)/([a-zA-Z0-9_-]+)/$ big.php?id=$1&p_id=$2
RewriteCond %{HTTP_HOST} ^kunsana.com [NC]
RewriteRule (.*) http://www.kunsana.com/$1 [R=301,L]
SetEnv TZ Africa/Lagos
<Files .htaccess>
Order Allow,Deny
Deny from all 
</Files>
#RewriteEngine on
#RewriteCond %{HTTP_REFERER} !^$
#RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?kunsana.com [NC]
#RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]